@mixin shadow{
    border-radius: 10px;
    background: #FFFDFD;
    box-shadow: 3px 3px 10px 1px rgba(149, 105, 105, 0.25);
}

.base-nav {
    @include shadow;
    margin-bottom: 50px;
}

.footer {
    margin-top: 50px;
}

.main-dashboard {
    @include shadow;
    padding: 10px;
    margin: 10px;
}
.main-rain {
    @include shadow;
    padding: 10px;
    margin: 10px;
}
.main-sun {
    @include shadow;
    padding: 10px;
    margin: 10px;
}
.main-date {
    @include shadow;
    padding: 10px;
    margin: 10px;
    margin-right: 20px;
}
.main-wind {
    @include shadow;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
}
.main-date-wind {
    display: flex;
    justify-content: center;
}
.main-timeline {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.main-forecast {
    @include shadow;
    position: relative;
    padding: 10px;
    margin: 10px;
}
#weatherData1, #weatherData2, #weatherData3 {
    background-color: white;
    border: none;
    padding: 5px;
    margin: 0;
}
.main-AQI {
    width: 342px;
    height: 100%; 
    margin: 30px auto 30px auto;
}
#aqiIcon {
    z-index: 1; 
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%); 
    width:150px;
    height: 150px;
}
.main-AQI-inside {
    @include shadow;
    border: 1px solid #d0d0d0; 
    width: 80%; 
    background-color: #ffff;
    z-index:3; 
    position: relative;
    border: none;
}
#sitenameSelect {
    @include shadow;
    border: none;
}
.main-sunImage {
    margin-bottom: 10px;
}
.main-T {
    font-size: 48px;
}