@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;200;300;400;500;600;700&family=Redacted+Script&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
	font-size:20px;
	font-family: 'Arvo', 'Urbanist', 'Noto Sans TC', sans-serif;
	font-weight: 300;
}

.NSTC{
	font-family: 'Noto Sans TC', sans-serif;
}

.header{
	width: 100%;
}
.title{
	font-size: 20px;
	font-family: 'Noto Sans TC', sans-serif;
	margin: auto 0;
	cursor: pointer;
}

@media (max-width: 1200px) {
    .title{ font-size: 40px;}
	.width-xl-560{max-width: 600px;margin: 0px auto; text-align: center;}
}

@media (max-width: 600px) {
    .title{ font-size:  20px;}
}

.footer{
	background-color: rgb(226, 226, 226);
    font-family: var(--chinese-font);
}

.footer_title{
	letter-spacing: 3px;
}
.footer_link{ color: #000;}

.card_container{
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 5px 8px #4070ad;
    padding: 10px 10px;
}

