@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "微軟正黑體", "Avenir", Helvetica, Arial, sans-serif;
}

.wrapper {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .weather {
    display: inline-block;
    color: #fff;
  }
}
.map svg {
  display: inline-block;
  max-width: 100%;
  width: 428.59px;
  height: 560px;

  path {
    transition: all 0.3s ease-in-out;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: transparent;
    stroke: rgba(139, 80, 21, 0.8);
    stroke-width: 1px;
    stroke-miterlimit: 10;
    cursor: pointer;

    &:hover {
        fill: rgba(236, 181, 126, 0.8);
    }
  }
  .is-active {
    fill: rgba(250, 159, 66, 0.8);
  }
}

.tooltip {
  display: none;
  position: absolute;
  z-index: 1000;
  color: rgb(150, 100, 31);
  text-align: center;
  width: 80px;
  height: 35px;
  line-height: 35px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.2);
  /* 覆蓋 bootstrap 的 opacity: 0 */
  opacity: 1;
}

@media screen and (max-width: 576px) {

    .wrapper {
        .map svg {
            height: 100%;
        }
        .weather {
            margin-bottom: 20px;
        }
    }
}